{% extends "layout.njk" %}
{% block content %}
  <div>
    <h1 class="titrebleu"> Hello World this is home </h1>
  </div>
{% endblock %}




<!--
<h1> Hello World </h1>
<h1>{{product.name}}<h1>
<img src="{{product.image}}" alt="{{product.name}}">
<p>{{product.description}}<p>
<p>PRICE: {{product.price / 100}}</p>
-->
